<h1>Editing profile</h1>

<%= render 'form' %>


	<%= button_to 'Show', @profile, :class => 'btn btn-primary pull-left' %> 

		<%= button_to 'Back', profiles_path, :class => 'btn btn-danger pull-right' %>
</div>
  </div>