<h1>PRUSIC</h1>
<fieldset id="fieldCart"><legend></legend>
  <div id="Container" class="panel panel-default">
    <div id="divGroups" class="panel-body">
      Successful Purchase
    </div>
  </div>
</fieldset>